@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  overflow: scroll;
}

body::-webkit-scrollbar {
  width: 0;
}

input::-webkit-inner-spin-button {
  display: none;
}
